/* custom.css */

/* Adjust general text font size */
body {
    font-size: 20px;
    line-height: 1.6;
}

/* Adjust heading levels */
h1, h1 a {
    font-size: 2.4em; /* Adjust the font size for # (level 1 heading) */
}

h2, h2 a {
    font-size: 2em; /* Adjust the font size for ## (level 2 heading) */
}

h3, h3 a {
    font-size: 1.8em; /* Adjust the font size for ### (level 3 heading) */
}

h4, h4 a {
    font-size: 1.6em;
}

h5, h5 a {
    font-size: 1.4em;
}

h6, h6 a {
    font-size: 1.2em;
}



/* Customize the sidebar background color */
.wy-side-nav-search {
    background: #f8f9fa;
}

/* Customize the main content area */
.wy-nav-content {
    padding: 20px;
}

/* Customize the header */
.wy-nav-top {
    background: #343a40;
    color: white;
}

/* Customize the footer */
.rst-footer-buttons {
    background: #343a40;
    color: white;
    padding: 10px;
}

/* Customize links */
a {
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

/* Adjust the code block to create space for the "Copy to clipboard" button */
div.highlight {
    position: relative;
    padding-right: 3em;  /* Add space on the right for the button */
    overflow: auto;  /* Ensure long code lines can scroll */
}

/* Ensure no overlap between the button and code lines */
pre, code {
    font-size: 1.3em;  /* Adjusted font size */
    line-height: 1.5;  /* Adjusted line height */
    padding-right: 2.5em;  /* Ensure the code content has enough space from the button */
}

.md-clipboard.md-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.7em;  /* Adjusted font size */
    color: #333;
    transition: color 0.3s;
}

.md-clipboard.md-icon:hover {
    color: #007acc;
}

.md-clipboard.md-icon::before {
    content: '\f0c5'; /* Font Awesome clipboard icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1em;  /* Adjusted font size for icon */
}

.rst-versions {
    display: none !important;
}
