/* custom.css */

body {
    font-size: 20px;  /* Adjust the base font size as needed */
    line-height: 1.6;  /* Adjust line height for better readability */
}

/* Adjust font size for inline code and code blocks */
pre, code {
    font-size: 1.1em;  /* Increase font size for better readability */
    line-height: 1.5;
}

/* Customize the sidebar background color */
.wy-side-nav-search {
    background: #f8f9fa;
}

/* Customize the main content area */
.wy-nav-content {
    padding: 20px;
}

/* Customize the header */
.wy-nav-top {
    background: #343a40;
    color: white;
}

/* Customize the footer */
.rst-footer-buttons {
    background: #343a40;
    color: white;
    padding: 10px;
}

/* Customize links */
a {
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

.md-clipboard.md-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.8em;  /* Adjusted font size */
    color: #333;
    transition: color 0.3s;
}

.md-clipboard.md-icon:hover {
    color: #007acc;
}

.md-clipboard.md-icon::before {
    content: '\f0c5'; /* Font Awesome clipboard icon */
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1em;  /* Adjusted font size for icon */
}

.rst-versions {
    display: none !important;
}
